* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(324deg, rgba(2, 0, 36, 1) 48%, rgba(116, 114, 143, 1) 100%, rgba(70, 88, 92, 1) 100%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#guess-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

#guess-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#guess-btn:hover {
  background-color: #45a049;
}
